#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  openvpn-app.service
BindsTo=openvpn.service
After=openvpn.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/openvpn-app.pid %t/openvpn-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/openvpn-app.pid \
    --cidfile %t/openvpn-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/openvpn.pod-id --replace -d --name  openvpn-app \
    --cap-add=MKNOD,NET_ADMIN \
    --security-opt label=disable \
    --device /dev/net/tun \
    --volume openvpn-app:/openvpn:Z \
    ${OPENVPN_AS_IMAGE}
ExecStartPost=sleep 10
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k host.name -v ${TRAEFIK_HOST} ConfigPut
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k vpn.server.daemon.protocols -v udp ConfigPut
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k vpn.daemon.0.listen.protocol -v udp ConfigPut
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k vpn.daemon.0.listen.port -v 1194 ConfigPut
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k admin_ui.https.port -v 443 ConfigPut
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k cs.https.port -v 443 ConfigPut
ExecStartPost=/usr/bin/podman exec openvpn-app sacli -k vpn.server.port_share.enable -v true ConfigPut
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/openvpn-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP openvpn-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/openvpn-app.ctr-id
PIDFile=%t/openvpn-app.pid
Type=forking

[Install]
WantedBy=default.target