#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a openvpn instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman openvpn.service
Requires=openvpn-app.service
Before=openvpn-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/openvpn.pid %t/openvpn.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/openvpn.pid \
    --pod-id-file %t/openvpn.pod-id \
    --name openvpn \
    --device /dev/net/tun \    
    --publish 127.0.0.1:${TCP_PORT}:443 \
    --publish 943:943 \
    --publish 1194:1194/udp \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/openvpn.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/openvpn.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/openvpn.pod-id
PIDFile=%t/openvpn.pid
Type=forking

[Install]
WantedBy=default.target
